
        /* Element Selector */
        div {
            background-color: crimson;
        }

        /* ID Selector */
        #header {
            font-size: 2rem;
        }

        /* Klassen Selektor */
        .subtitle {
            color: red;
        }

        #text p {
            background-color: blueviolet;
        }
    