/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body
{
    background-color: gray;
    padding-left: 80px;
    padding-right: 80px;
}


.box {
    background-color: darkred;
    
}

.s
{
    list-style-type: none;
    display:flex;
    color: white;
    font-size: 28px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    height: 45px;
    align-items: center;
    font-weight: bold;
}

.s:hover
{
    background-color: red;
}

.container1
{
    justify-content: space-evenly;
    background-color:darkred;
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    
}

.container2{
    
    background-color:#b41709;
    display: flex;
    font-size: 45px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    width:100%;
    height:160px;
    color: white;
    text-transform: lowercase;
    float: left;
    align-items: center;
    margin-left: 0px;
    font-weight: bold;
}



.picture1{
   width: 200;
   height: 100;
   background-color: #b41709;
   align-items: center
}

.picture2{
  
   background-color: #b41709;
   align-items: center;
   z-index: 10;

   position: relative;
   
}

.container3
{
    align-items: center;
    justify-content: space-evenly;
    background-color:darkred;
    display: flex;
    width: 100%;
    height: 55px;
}

.c{
    list-style-type: none;
    display:flex;
    color: white;
    font-size: 30px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    align-items: center;
    height: 45px;
    font-weight: bold;
}





.c{
    list-style-type: none;
    display:flex;
    color: rwhite;
    font-size: 25px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    align-items: center;
    height: 45px;
    
} 

.Glocke{

    width: 25;
    height: 27; 
   
}

.boxmiddle{
    
    z-index: 100;
    position: relative;
    width: 70%;
    height: 500px;
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    align-items: center;
    
   
    
}
    .boxmiddle h1
    {
        margin-left:5%;
        padding-top:2.5%;
        color:darkgrey;
        font-weight: bolder;
        font-size: 30px;
    }

    .boxmiddle h2{
        margin-left:5%;
    margin-top:2.5%;
    font-weight: bold;
    white-space: nowrap;
    font-size: 50px;
    }

    .boxmiddle h3{
        font-size: 30px;
        margin-left:5%;
    margin-top:2.5%;
    color:black;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    align-items: center;
    font-weight: bold;
    }

    .ImageUnderBackground{
        margin-top:-30%;    
    width: 100%;
    height:7000px;
    background-color: white;
    }

.streifen
{ 
    height: 180px;
    background-color: #D32824;
}

.txt{
    color: rwhite;
    font-size: 15px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
}

@media (max-width: 1800px){

.boxmiddle h2{
    margin-left:5%;
margin-top:2.5%;
font-weight: bold;
white-space: nowrap;
font-size: 40px;
}
}
@media (max-width: 1400px){

body
{
    padding-left: 0px;
    padding-right: 0px;
}

.s
{
    list-style-type: none;
    display:flex;
    color: white;
    font-size: 20px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    height: 45px;
    align-items: center;
    font-weight: bold;
}

.c{
    list-style-type: none;
    display:flex;
    color: rwhite;
    font-size: 22px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    align-items: center;
    height: 45px;
    font-weight: bold;
    
} 

.boxmiddle h1
{
    margin-left:5%;
    padding-top:2.5%;
    color:darkgrey;
    font-weight: bolder;
    font-size: 25px;
}

.boxmiddle h2{
    margin-left:5%;
margin-top:2.5%;
font-weight: bold;
white-space: nowrap;
font-size: 30px;
}

.boxmiddle h3{
    font-size: 25px;
    margin-left:5%;
margin-top:2.5%;
color:black;
font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
font-feature-settings: "liga", "kern";
align-items: center;
font-weight: bold;
}

.ImageUnderBackground{
    margin-top:-50%;    
width: 100%;
height:30000px;
background-color: white;
}

}


@media (min-width: 2000px){
    .s
{
    list-style-type: none;
    display:flex;
    color: green;
    font-size: 40px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    height: 45px;
    align-items: center;
    font-weight: bold;
}

.c{
    list-style-type: none;
    display:flex;
    color: rwhite;
    font-size: 35px;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    align-items: center;
    height: 45px;
    font-weight: bold;
    

} 
.boxmiddle{
    
    z-index: 100;
    position: relative;
    width: 70%;
    height: 500px;
    margin-top: -350px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern";
    align-items: center;
    
   
    
}

.Glocke{

    width: 35;
    height: 37; 
   
}

}